:root{
  --background: #0b1623;
  --text-color: #f5f8ff;
  --border: #3a3a3c;
  --correct: #538d4e;
  --misplaced: #b58f3b;
  --incorrect: #3a3a3c;
}

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: var(--background);
  color:var(--text-color);
}

.light-mode{
  --background: #f5f8ff;
  --text-color: #0b1623;
  --border: #3a3a3c;
  --correct: #00CC66;
  --misplaced: #ffcc00;
  --incorrect: #ff4d4d;
}

header{
  text-align: center;
  border-bottom: 2px solid var(--border);
}

.wordle-grid{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 20px auto;
  width: fit-content;
}

.row{
  displaY: flex;
  gap: 5px
}

.letter{
  width: 60px;
  height: 60px;
  font-size: 2rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--border);
  color: var(--text-color);
}

.cell.correct{
  background: var(--correct);
  border-color: var(--correct);
}

.cell.misplaced{
  background: var(--misplaced);
  border-color: var(--misplaced);
}

.cell.incorrect{
  background: var(--incorrect);
  border-color: var(--incorrect);
}